<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
    <title>eRegistra - Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a style="padding-right: 2em;" class="navbar-brand" href="/elibrary/home">E Registra </a>
        <!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/eregistra/student/list">View Students</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
                <!--<a style="color: #ffffff; margin-right: 0em;" class="nav-link" href="#">John Doe</a>-->
                <!--<a href="#" class="btn btn-secondary">Sign In</a>-->
            </form>
        </div>
    </nav>

    <p>&nbsp;</p>
    <div class="container">
        <h3>Welcome to the ERegistra MUM</h3>
        <hr/>
        <div style="font-size: 1em">
             <p></p>

                        <p></p>If you have any questions about this system or about courses you should contact your academic adviser.  (To find your academic adviser log into <a href="http://infosys.cs.mum.edu/infosys" target="_blank">InfoSys</a> and go to the Faculty Advisors link.)</div><h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="false" aria-selected="false"><span class="ui-icon ui-icon-triangle-1-e"></span>Course Selection Explanation</h3><div id="j_idt13:j_idt23" class="ui-accordion-content ui-helper-reset ui-widget-content ui-helper-hidden" role="tabpanel" aria-hidden="true"><span class="text">This course selection system is for MSCS students in the Computer Professionals track.  At some point during                                        the MPP course students will use this system to enter their preferences for the rest of their                                        on-campus courses.  </span>
                        
                       <h3>Assignment to classes will be according to</h3>
                        <ul>
                            <li>student preference</li>
                            <li>registration number (low to high for first and fourth blocks and high to low for second and third blocks)</li>
                        </ul>
                        <p></p>
                        <h3>Students must do the following</h3>
                        <ul>
                            <li>get all waivers, transfers and prerequisites approved before registering preferences</li>
                            <li>enter preferences for different course offerings</li>
                        </ul>
        </div>
    </div>
    
   <div id="footer-contaier">
   		<div id="footer">
			<div class="footer" align="center" style="font-size: 9pt; font-family: Verdana">
				 <p>
                 <br />
                    <hr align="center" width="50%" />
                    Copyright ©2012 Maharishi University of Management. All rights reserved.<br />
                    Comments or questions should be sent to 
                    <a href="mailto:infosys@cs.mum.edu?subject=Course Selection"> Webmaster</a>
                 </p>
            </div>
        </div>
  </div>

<!--     <footer class="footer">
        <div class="container">
            <span class="text-muted">O. Kalu : : : CS425-SWE</span><span style="float:right;" class="text-muted">&copy; November 2018</span>
        </div>
    </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
